

Hover Test: Ideal Dynamics
- Hover Goal:  xRef=1.992971,  yRef=0.717247
- Param:  m=0.873848,  w=0.360581,  g=6.432357
- cpuTime:  138.7 ms
- xErr:  mean=0.003254  max=0.064850
- yErr:  mean=0.003361  max=0.059186
- yMin:  0.717
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=0.713057,  yRef=1.246011
- Param:  m=0.697409,  w=0.433473,  g=2.889959
- cpuTime:  132.3 ms
- xErr:  mean=0.005722  max=0.083711
- yErr:  mean=0.013579  max=0.290970
- yMin:  1.246
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=-2.380644,  yRef=0.874177
- Param:  m=0.851488,  w=0.428450,  g=2.852219
- cpuTime:  132.5 ms
- xErr:  mean=0.036586  max=0.390888
- yErr:  mean=0.013907  max=0.203154
- yMin:  0.671
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=-2.928660,  yRef=1.111910
- Param:  m=0.464623,  w=0.471438,  g=5.927815
- cpuTime:  131.3 ms
- xErr:  mean=0.009108  max=0.151229
- yErr:  mean=0.000399  max=0.005282
- yMin:  1.107
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=0.219837,  yRef=1.406825
- Param:  m=0.751516,  w=0.432205,  g=5.676718
- cpuTime:  133.0 ms
- xErr:  mean=0.011237  max=0.148035
- yErr:  mean=0.003783  max=0.063311
- yMin:  1.406
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=-0.758649,  yRef=1.400817
- Param:  m=0.639351,  w=0.674179,  g=4.700436
- cpuTime:  131.8 ms
- xErr:  mean=0.004155  max=0.063257
- yErr:  mean=0.022717  max=0.441596
- yMin:  1.401
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=1.773798,  yRef=1.118044
- Param:  m=0.912974,  w=0.788317,  g=3.880831
- cpuTime:  132.0 ms
- xErr:  mean=0.034862  max=0.385895
- yErr:  mean=0.008032  max=0.170917
- yMin:  1.111
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=0.469082,  yRef=0.948944
- Param:  m=0.490273,  w=0.606089,  g=5.865240
- cpuTime:  131.1 ms
- xErr:  mean=0.012603  max=0.165947
- yErr:  mean=0.012805  max=0.276884
- yMin:  0.672
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=-0.692653,  yRef=1.134495
- Param:  m=0.540210,  w=0.525070,  g=5.417979
- cpuTime:  133.6 ms
- xErr:  mean=0.009376  max=0.126732
- yErr:  mean=0.004934  max=0.116539
- yMin:  1.134
Hover Test: Ideal Dynamics
- Hover Goal:  xRef=-2.756361,  yRef=1.031081
- Param:  m=0.868251,  w=0.616448,  g=3.345447
- cpuTime:  131.8 ms
- xErr:  mean=0.026496  max=0.275038
- yErr:  mean=0.010278  max=0.215031
- yMin:  1.027


Hover Test: Realistic Dynamics
- Hover Goal:  xRef=-1.271239,  yRef=0.685310
- Param:  m=1.097679,  w=0.444776,  g=3.172214
- cpuTime:  191.2 ms
- xErr:  mean=0.064635  max=0.242680
- yErr:  mean=0.021476  max=0.245120
- yMin:  0.440
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=-0.370799,  yRef=1.221374
- Param:  m=0.387659,  w=0.481109,  g=4.833460
- cpuTime:  191.7 ms
- xErr:  mean=0.077623  max=0.290102
- yErr:  mean=0.017237  max=0.221670
- yMin:  1.000
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=0.982714,  yRef=1.373771
- Param:  m=0.441219,  w=0.367685,  g=4.136617
- cpuTime:  188.0 ms
- xErr:  mean=0.011254  max=0.290253
- yErr:  mean=0.004030  max=0.015682
- yMin:  1.368
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=1.484032,  yRef=1.259645
- Param:  m=0.328576,  w=0.769217,  g=4.128240
- cpuTime:  188.2 ms
- xErr:  mean=0.014442  max=0.151815
- yErr:  mean=0.010099  max=0.238162
- yMin:  1.259
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=-1.356809,  yRef=1.149301
- Param:  m=0.927407,  w=0.590147,  g=2.294475
- cpuTime:  187.8 ms
- xErr:  mean=0.003818  max=0.041745
- yErr:  mean=0.002598  max=0.089548
- yMin:  1.136
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=-0.483235,  yRef=0.669301
- Param:  m=0.720005,  w=0.770753,  g=3.953583
- cpuTime:  187.0 ms
- xErr:  mean=0.043950  max=0.086931
- yErr:  mean=0.026840  max=0.510615
- yMin:  0.159
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=0.978242,  yRef=0.902419
- Param:  m=1.004873,  w=0.693040,  g=5.958101
- cpuTime:  188.4 ms
- xErr:  mean=0.026998  max=0.103275
- yErr:  mean=0.011050  max=0.029134
- yMin:  0.873
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=-1.106866,  yRef=1.237828
- Param:  m=0.551156,  w=0.349758,  g=2.927071
- cpuTime:  187.4 ms
- xErr:  mean=0.036586  max=0.303841
- yErr:  mean=0.002626  max=0.094589
- yMin:  1.231
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=1.867145,  yRef=0.904770
- Param:  m=0.700713,  w=0.664371,  g=3.284065
- cpuTime:  188.0 ms
- xErr:  mean=0.030902  max=0.378363
- yErr:  mean=0.024634  max=0.532177
- yMin:  0.896
Hover Test: Realistic Dynamics
- Hover Goal:  xRef=-0.281678,  yRef=1.377136
- Param:  m=0.332108,  w=0.389257,  g=3.881403
- cpuTime:  186.8 ms
- xErr:  mean=0.017748  max=0.247638
- yErr:  mean=0.020611  max=0.513486
- yMin:  1.377


Tracking Test: Ideal Dynamics
- cpuTime:  690.1 ms
- xErr:  mean=0.002162  max=0.005951
- yErr:  mean=0.002698  max=0.012493
- yMin:  0.988
Tracking Test: Ideal Dynamics
- cpuTime:  683.9 ms
- xErr:  mean=0.018058  max=0.051003
- yErr:  mean=0.003610  max=0.018723
- yMin:  0.983
Tracking Test: Ideal Dynamics
- cpuTime:  681.9 ms
- xErr:  mean=0.002862  max=0.013034
- yErr:  mean=0.007128  max=0.031871
- yMin:  0.968
Tracking Test: Ideal Dynamics
- cpuTime:  682.4 ms
- xErr:  mean=0.013657  max=0.046662
- yErr:  mean=0.001682  max=0.008838
- yMin:  0.994
Tracking Test: Ideal Dynamics
- cpuTime:  686.8 ms
- xErr:  mean=0.002444  max=0.011985
- yErr:  mean=0.002394  max=0.008975
- yMin:  1.000
Tracking Test: Ideal Dynamics
- cpuTime:  687.0 ms
- xErr:  mean=0.022978  max=0.067538
- yErr:  mean=0.003849  max=0.016261
- yMin:  0.997
Tracking Test: Ideal Dynamics
- cpuTime:  682.2 ms
- xErr:  mean=0.004986  max=0.017385
- yErr:  mean=0.005438  max=0.022327
- yMin:  1.000
Tracking Test: Ideal Dynamics
- cpuTime:  683.5 ms
- xErr:  mean=0.000947  max=0.002858
- yErr:  mean=0.000382  max=0.002090
- yMin:  1.000
Tracking Test: Ideal Dynamics
- cpuTime:  682.1 ms
- xErr:  mean=0.004873  max=0.015099
- yErr:  mean=0.003395  max=0.014495
- yMin:  0.986
Tracking Test: Ideal Dynamics
- cpuTime:  687.4 ms
- xErr:  mean=0.013703  max=0.038320
- yErr:  mean=0.004269  max=0.020951
- yMin:  0.981


Tracking Test: Realistic Dynamics
- cpuTime:  744.9 ms
- xErr:  mean=0.019712  max=0.045050
- yErr:  mean=0.007802  max=0.016692
- yMin:  0.992
Tracking Test: Realistic Dynamics
- cpuTime:  744.1 ms
- xErr:  mean=0.143253  max=0.279749
- yErr:  mean=0.016242  max=0.045030
- yMin:  0.978
Tracking Test: Realistic Dynamics
- cpuTime:  742.4 ms
- xErr:  mean=0.011493  max=0.030924
- yErr:  mean=0.007349  max=0.028932
- yMin:  0.974
Tracking Test: Realistic Dynamics
- cpuTime:  743.1 ms
- xErr:  mean=0.004492  max=0.012016
- yErr:  mean=0.005609  max=0.017108
- yMin:  0.990
Tracking Test: Realistic Dynamics
- cpuTime:  744.5 ms
- xErr:  mean=0.028269  max=0.060141
- yErr:  mean=0.007683  max=0.017137
- yMin:  1.003
Tracking Test: Realistic Dynamics
- cpuTime:  742.6 ms
- xErr:  mean=0.044459  max=0.100203
- yErr:  mean=0.011105  max=0.022695
- yMin:  0.984
Tracking Test: Realistic Dynamics
- cpuTime:  745.0 ms
- xErr:  mean=0.003166  max=0.010136
- yErr:  mean=0.003646  max=0.008961
- yMin:  0.991
Tracking Test: Realistic Dynamics
- cpuTime:  750.8 ms
- xErr:  mean=0.009066  max=0.022611
- yErr:  mean=0.018347  max=0.081141
- yMin:  0.998
Tracking Test: Realistic Dynamics
- cpuTime:  743.5 ms
- xErr:  mean=0.013826  max=0.043013
- yErr:  mean=0.009319  max=0.027878
- yMin:  0.976
Tracking Test: Realistic Dynamics
- cpuTime:  742.1 ms
- xErr:  mean=0.062085  max=0.096322
- yErr:  mean=0.015188  max=0.058064
- yMin:  0.999


Hover Controller, Ideal Model: 
- crashes: 0 / 10
- mean CPU time: 0.1328 ms
- mean tracking error: 19.9195 mm


Hover Controller, Realistic Model: 
- crashes: 0 / 10
- mean CPU time: 0.1884 ms
- mean tracking error: 39.8758 mm


Tracking Controller, Ideal Model: 
- crashes: 0 / 10
- mean CPU time: 0.6847 ms
- mean tracking error: 9.9928 mm


Tracking Controller, Real Model: 
- crashes: 0 / 10
- mean CPU time: 0.7443 ms
- mean tracking error: 37.9771 mm


